@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppin;
  src: url(/public/fonts/Poppins-Regular.ttf);
}

.Poppin {
  font-family: Poppin;
}

:root {
  font-family: Poppin;
  line-height: 1.5;
  font-weight: 400;
}
